#wrap {
    display:flex;
    flex-flow:row wrap;
    width:100%;
    margin:0 auto;
    max-width:1200px;
    background-color: white;
}

.pagenav {
    width: 100%;
    float: left;
    margin: 40px 0px 0px 0px;
    color: #707070;
    font: normal normal bold 15px/17px NanumGothic;
}

.navarrow {
    margin: 0 7px 0 7px;
    padding: 6px;
    background: url(../img/navarrow.svg) no-repeat;
    background-position: 0px;
}

.goods {
    width: 100%;
    margin: 40px;
}

.goods_img {
    width: 552px;
    height: 552px;
    float: left;
}

.goods_info {
    width: 520px;
    margin-left: 40px;
    display: inline-block;
}

.goods_title {
    font: normal normal bold 24px/28px NanumGothic;
    color: #707070;
    margin-bottom: 40px;
}

.price {
    text-decoration: line-through;
    font: normal normal bold 16px/19px NanumGothic;
    color: #B2B2B2;
}

.goods_dc {
    display: block;
}

.cost {
    font: normal normal bold 28px/32px NanumGothic;
    color: #000000;
}

.dc {
    font: normal normal bold 28px/32px NanumGothic;
    color: #195500;
}

.goods_info hr {
    border: 1px solid #707070;
    opacity: 0.25;
    margin: 40px 0px;
}

.goods_info dl {
    font: normal normal normal 13px/15px NanumGothic;
    color: #707070;
}

.goods_info dt {
    width: 90px;
    height: 40px;
    float: left;
}

.shipping {
    height: 50px;
}

.shipping dt {
    width: 90px;
    height: max-content;
    float: left;
}

.shipping dd {
    width: 430px;
    float: left;
}

.orderpay {
    color: #195500;
}

.addshipping {
    font: normal normal normal 10px/11px NanumGothic;
    padding-top: 7px;
}

.countbtn {
    width: 74px;
    height: 20px;
    border: 0.25px solid #707070;
    display: inline-block;
    text-align: center;
}

.goods_qty {
    width: 30px;
    height: 15px;
    border: 0;
    outline: none;
    float: left;
    text-align: center;
}

.minusbtn, .plusbtn {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 0;
    float: left;
    background-color: #FFFFFF;
}

.minusbtn {
    border-right: 0.25px solid #707070;
}

.plusbtn {
    border-left: 0.25px solid #707070;
}

/*
.goods_qty {
    width: 32px;
    height: 20px;
    background: none;
    font: normal normal normal 13px/15px NanumGothic;
    text-align: center;
    padding: 0;
    border: 0.25px solid #707070;
}
.countbtn button {
    width: 20px;
    height: 20px;
    background: none;
    outline: none;
    padding: 0;
    border: 0.25px solid #707070;
}
*/
.total dt {
    width: 520px;
    height: 25px;
    display: block;
}

.total_cost {
    font: normal normal bold 32px/36px NanumGothic;
    color: #000000;
    text-align: right;
    padding-right: 5px;
}

.won {
    font: normal normal bold 24px/28px NanumGothic;
    text-align: right;
    padding: 20px 0px 50px 0px;
}

.btn button {
    width: 161px;
    height: 52px;
    text-align: center;
    font: normal normal bold 16px/19px NanumGothic;
    border-radius: 3px;
}

.buynowbtn {
    color: #FFFFFF;
    background-color: #195500;
    border: 0;
    margin-right: 13px;
}

.cartbtn {
    color: #195500;
    background-color: #FFFFFF;
    border: 0.5px solid #195500;
    margin-right: 13px;
}

.favbtn {
    color: #195500;
    background-color: #FFFFFF;
    border: 0.5px solid #195500;
}

.goods_tab {
    width: 100%;
    height: 52px;
    display: flex;
    margin-top: 62px;
}

.goods_tab li {
    width: 50%;
    display: flex;
    flex: 1;
    margin: 0 auto;
}

.goods_tab a {
    font: normal normal bold 16px/19px NanumGothic;
    border-radius: 6px 6px 0px 0px;
    text-decoration: none;
    text-align: center;
    flex: 1;
    line-height: 3;
}

.tab_on {
    color: #FFFFFF;
    background-color: #195500;
}

.tab_off {
    color: #195500;
    background-color: #FFFFFF;
    border: 0.5px solid #195500;
}

.goods_img_detail {
    margin-top: 50px;
}

.review_title {
    height: 45px;
    margin: 40px;
}

.review_tit {
    font: normal normal bold 13px/15px NanumGothic;
    color: #707070;
}

.review_desc {
    font: normal normal normal 10px/11px NanumGothic;
    color: #707070;
    line-height: 2;
}

.review_list tr {
    height: 50px;
}

.review_list td {
    vertical-align: middle;
    font: normal normal bold 14px/16px NanumGothic;
    color: #707070;
}

.review_name, .review_date {
    width: 200px;
    text-align: center;
}

.review_rate {
    width: 200px;
}

.review_content {
    width: 600px;
}

.review_write {
    border-spacing: 0;
    margin: 40px 0;
}

.review_write td {
    height: 50px;
    border: 0.5px solid #707070;
    text-align: center;
}

.write_name, .write_rate {
    width: 200px;
}

.write_content {
    width: 600px;
}

.write_submit {
    width: 120px;
}

.review_write input, textarea {
    border: none;
    outline: none;
    font: normal normal bold 14px/16px NanumGothic;
}

#writer, #stars {
    width: 90%;
    height: 90%;
    text-align: center;
    background-color: transparent;
}

#writervw {
    width: 96%;
    height: 45%;
    vertical-align: middle;
    resize: none;
    margin: 6px 0;
    background-color: transparent;
}

#submitbtn {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    background-color: #195500;
    text-align: center;
}