 /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~PCìš© CSS~~~~~~~~~~~~~~~~~~~~~~~~~~ */
 header {
    width: 100%;
    padding-top: 52.24px;
    border-bottom: #E6E6E6 1px solid;
  }
  .headerwrap {
    display:flex;  
    max-width:1200px;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
  }
  .logo {
    display: inline-flex;
    height: fit-content;
    align-items: center;
  }
  .logo a img {
    width: 150px;
    height: 73px;
  }
  .search {
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  #schText{
    width: 650px;
    height: 37px;
    border: none;
    background-color: #E6E6E6;
    border-radius:37px;
    padding-left: 14.51px;
  }
  #schButton {
    position: absolute;
    right: 14.51px;
    top: 6.76px;
  }
  nav ul{
    padding-left: 0;
    margin: 0;
  }
  nav>ul>li>a {
    text-decoration: none;
    color: #707070;
    font-weight: bold;
  }
  .gnbmy {
    display: flex;
    flex-direction: row;
    font-size:13px;
  }
  .gnbmy>li:nth-child(n+2) {
    margin-left: 33px;
  }
  .gnb{
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .gnb>li {
    box-sizing: content-box;
    margin-top: 18px ;
    margin-bottom: 18px;
    padding: 0 56px;
  }
  .gnb>li>a {
    color: #272727;
  }
  .gnb>li:first-of-type {
    padding-left: 0;
    margin:0;
    padding-top: 18px ;
    padding-bottom: 18px;
  }
  .gnb>li:nth-last-child(2) {
    border-left: solid 2px #E6E6E6;
  }
   .gnb>li:first-of-type:hover .lnb {
    display: block;
  }
  .lnb{
    display: none;
    position: absolute;
    margin-top: 18px;
    z-index: 100;
    background-color: #FFFFFF;
    width: fit-content;
    font-size: 13px;
    font-weight: bold;
  }
  .lnb>tr,th,td {
    padding: 8px;
    border: 0.25px solid #707070;
  }
  .lnb td {
    padding: 9px 21px 8px 21px;
  }
  .lnb td>a {
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
    color: #707070;
  }
  .cate a{
    font-weight: normal !important;
    color: #707070 !important;
  }
